<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Ken Wakita</string>
	<key>CFBundleDisplayName</key>
	<string>Messaging</string>
	<key>CFBundleIdentifier</key>
	<string>net.smartnova.messaging</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>messaging.js</string>
				<string>test_extention.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Actor-style future messaging support for Safari Extentions</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>localhost</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://smartnova.net/wakita</string>
</dict>
</plist>
